[submodule "themes/nofancy"]
	path = themes/nofancy
	url = https://github.com/gizak/nofancy.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
